/*general*/
* {
    font-family: "poppins", sans-serif;
}

body {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    color: #181818;
}

p {
    width: 535px
}

h3 {
    margin: 0px;
}

/*seccion principal*/

#header {
    padding: 40px;
    padding-bottom: 0px;
    
}

#contact-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile {
    text-align: justify;
}

#info {
   
    text-align: right;
}

h1 {
    font-size:70px;
    font-weight: bold ;
}

#title {
    background-color: #e88ab6;
    padding: 5px 10px;
    border-radius: 5px;
}

/* sección Education */ 

.education {
    padding-left: 40px;
    padding-right: 40px;
}

.education-container {
    display: flex;
}

.education-element {
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: justify;
}

.borde {
    border-left: 2px solid #ddd;
}

.education h2 {
    border-top: 2px solid #ddd;
    margin-top: 55px;
    padding-top: 30px;
}

/* sección Experience */ 

.experience {
    padding-left: 40px;
    padding-right: 40px;
}

.experience-container {
    display: flex;
}


.experience-element {
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: justify;
 
}

.experience-element-2 {
    margin-top: 55px;
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: justify;
}

.borde {
    border-left: 2px solid #ddd;
    padding-left: 25px;
    padding-right: 0px;
    
}

.borde-2 {
    margin-top: 55px;
    border-left: 2px solid #ddd;
    padding-left: 25px;
    padding-right: 0px;
}


.experience h2 {
    border-top: 2px solid #ddd;
    margin-top: 55px;
    padding-top: 30px;
}

.experience h3 {
    margin: 0px;
    
}

.experience p {
    margin-bottom: 0px;
    width: 535px;
}

/* sección Skills */
.skills {
    padding-left: 40px;
    padding-right: 40px;
}

.skills-container {
    display: flex;
}

.skills-element {
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: justify;
}

.skills-list {
    list-style: none; 
    padding: 0;
}

.skills-list li {
    display: flex;
    font-size: 18px;
    width: 535px;
    margin: 0px;
    
}

.skills-list img {
    height: 24px;
    margin-right: 10px;
}

.borde {
    border-left: 2px solid #ddd;
    padding-left: 25px;
    padding-right: 0px;
}

.skills h2 {
    border-top: 2px solid #ddd;
    margin-top: 55px;
    padding-top: 30px;
}

.skills h3 {
    margin: 0px;
}


/* sección projects */
.projects {
    padding-left: 40px;
    padding-right: 40px;
}

.projects-container {
    display: flex;
}


.projects-element {
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: justify;
 
}

.projects-element-2 {
    margin-top: 55px;
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: justify;
}

.borde {
    border-left: 2px solid #ddd;
    padding-left: 25px;
    padding-right: 0px;
    
}

.borde-2 {
    margin-top: 55px;
    border-left: 2px solid #ddd;
    padding-left: 25px;
    padding-right: 0px;
}

.projects h2 {
    padding-top: 30px;
    border-top: 2px solid #ddd;
    margin-top: 55px;
    padding-right: 0px;
}

.projects p {
    margin: 0px;
}

/*seccion lenguajes*/
.language {
    padding-left: 40px;
    padding-right: 40px;
}

.language-container {
    display: flex;
}


.language-element {
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: justify;
 
}

.borde {
    border-left: 2px solid #ddd;
    padding-left: 25px;
    padding-right: 0px;

}

.language-list {
    list-style: none; 
    padding: 0;
    margin-bottom: 0px;
}

.language-list li {
    display: flex;
    font-size: 18px;
    width: 535px;
    margin-top: 10px;
}

.language-list img {
    height: 24px;
    margin-right: 10px;
}

.language h2 {
    border-top: 2px solid #ddd;
    margin-top: 55px;
    padding-top: 30px;
}

.language p {
    margin-bottom: 0px;
}

/*Sección de  Hobbies*/
.hobbies {
    padding-left: 40px;
    padding-right: 40px;
}

.hobbies-container {
    display: flex;
    padding: 20px;
}

.hobby {
    display: flex;
    align-items: center;
    text-align: center;
    width: 180px; 
}
.hobby img {
    width: 50px;
    height: 50px;
    border-radius: 80px;
    border: 2px solid #ddd;
    padding: 10px;
}
.hobby p {
    font-size: 14px;
}

.hobbies h2 {
    border-top: 2px solid #ddd;
    margin-top: 55px;
    padding-top: 30px;
}