/*general*/
* {
    font-family: "poppins", sans-serif;
}

body {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

p {
    width: 535px
}

h3 {
    margin: 0px;
}

/*seccion principal*/

.header {
    padding: 50px;
    padding-top: 0px;
}

/*informacion de contacto*/
.contact-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #333;
}

.contact-info span {
    font-weight: bold; 
}

/* nombre y titulo */
.name-title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 20px;
}

.name {
    font-size: 40px;
    font-weight: bold;
    line-height: 40px; 
}

.title {
    background-color: #F4D3A1; 
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

/*perfil */
.profile {
    margin-top: 20px;
}

.profile h2 {
    font-size: 22px;
    font-weight: bold;
}

.profile p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}

/* sección Education */ 

.education {
    padding-left: 40px;
    padding-right: 40px;
}

.education-container {
    display: flex;
}

.education-element {
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: justify;
}

.borde {
    border-left: 2px solid #ddd;
}

/* sección Experience */ 

.experience {
    padding-left: 40px;
    padding-right: 40px;
}

.experience-container {
    display: flex;
}


.experience-element {
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: justify;
 
}

.experience-element-2 {
    margin-top: 55px;
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: justify;
}

.borde {
    border-left: 2px solid #ddd;
    padding-left: 25px;
    padding-right: 0px;
    
}

.borde-2 {
    margin-top: 55px;
    border-left: 2px solid #ddd;
    padding-left: 25px;
    padding-right: 0px;
}


.experience h2 {
    border-top: 2px solid #ddd;
    margin-top: 55px;
    padding-top: 30px;
}

.experience h3 {
    margin: 0px;
    
}

.experience p {
    margin-bottom: 0px;
    width: 535px;
}

/* sección Skills */
.skills {
    padding-left: 40px;
    padding-right: 40px;
}

.skills-container {
    display: flex;
}

.skills-element {
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: justify;
}

.skills-list {
    list-style: none; 
    padding: 0;
}

.skills-list li {
    display: flex;
    font-size: 18px;
    width: 535px;
    margin: 0px;
    
}

.skills-list img {
    height: 24px;
    margin-right: 10px;
}

.borde {
    border-left: 2px solid #ddd;
    padding-left: 25px;
    padding-right: 0px;
}

.skills h2 {
    border-top: 2px solid #ddd;
    margin-top: 55px;
    padding-top: 30px;
}

.skills h3 {
    margin: 0px;
}


/* sección projects */
.projects {
    padding-left: 40px;
    padding-right: 40px;
}

.projects-container {
    display: flex;
}


.projects-element {
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: justify;
 
}

.projects-element-2 {
    margin-top: 55px;
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: justify;
}

.borde {
    border-left: 2px solid #ddd;
    padding-left: 25px;
    padding-right: 0px;
    
}

.borde-2 {
    margin-top: 55px;
    border-left: 2px solid #ddd;
    padding-left: 25px;
    padding-right: 0px;
}

.projects h2 {
    padding-top: 30px;
    border-top: 2px solid #ddd;
    margin-top: 55px;
    padding-right: 0px;
}

.projects p {
    margin: 0px;
}

/*seccion lenguajes*/
.language {
    padding-left: 40px;
    padding-right: 40px;
}

.language-container {
    display: flex;
}


.language-element {
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
    text-align: justify;
 
}

.borde {
    border-left: 2px solid #ddd;
    padding-left: 25px;
    padding-right: 0px;

}

.language-list {
    list-style: none; 
    padding: 0;
    margin-bottom: 0px;
}

.language-list li {
    display: flex;
    font-size: 18px;
    width: 535px;
    margin-top: 10px;
}

.language-list img {
    height: 24px;
    margin-right: 10px;
}

.language h2 {
    border-top: 2px solid #ddd;
    margin-top: 55px;
    padding-top: 30px;
}

.language p {
    margin-bottom: 0px;
}

/*Sección de  Hobbies*/
.hobbies {
    padding-left: 40px;
    padding-right: 40px;
}

.hobbies-container {
    display: flex;
    padding: 20px;
}

.hobby {
    display: flex;
    align-items: center;
    text-align: center;
    width: 180px; 
}
.hobby img {
    width: 50px;
    height: 50px;
    border-radius: 80px;
    border: 2px solid #ddd;
    padding: 10px;
}
.hobby p {
    font-size: 14px;
}

.hobbies h2 {
    border-top: 2px solid #ddd;
    margin-top: 55px;
    padding-top: 30px;
}